# LIMPIEZA DE DATOS - MASS SHOOTINGS
## Equipo 7
### Arturo Del Ángel De La Cruz 1809895
### Valeria Nohemí Navarro Cabello 1820160
### Sofía Pamela Rosales Garza 1799219

## Importación de librerías y bases de datos

In [3]:
import pandas as pd
import numpy as np

In [5]:
ms = pd.read_excel('MASS SHOOTINGS.xlsx')

## Visualización de los datos

In [98]:
ms.shape

(308, 54)

In [99]:
ms.head()

,S#,Title,Location,Date,civilian intervention,police intervention,suicide,age,age.1,SCHOOL,...,3G,4G,5G,7G,8G,9G,10G,GUNCONTROL,STRICT,NOT STRICT
0,1.0,Las Vegas Strip mass shooting,"Las Vegas, NV",2017-10-01,0.0,0.0,1.0,NaN,64,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2.0,San Francisco UPS shooting,"San Francisco, CA",2017-06-14,0.0,1.0,1.0,NaN,38,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,8.0,1.0,0.0
2,3.0,Pennsylvania supermarket shooting,"Tunkhannock, PA",2017-06-07,0.0,0.0,1.0,NaN,24,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0
3,4.0,Florida awning manufacturer shooting,"Orlando, Florida",2017-06-05,NaN,NaN,1.0,NaN,45,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0
4,5.0,Rural Ohio nursing home shooting,"Kirkersville, Ohio",2017-05-12,NaN,NaN,0.0,NaN,43,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [100]:
ms.tail()

,S#,Title,Location,Date,civilian intervention,police intervention,suicide,age,age.1,SCHOOL,...,3G,4G,5G,7G,8G,9G,10G,GUNCONTROL,STRICT,NOT STRICT
303,395.0,New Orleans Police Shootings,"New Orleans, Louisiana",1972-12-31,0.0,0.0,1.0,NaN,23,0.0,...,0.0,0.0,0.0,7.0,0.0,0.0,0.0,7.0,1.0,0.0
304,396.0,St. Aloysius Church,"Spokane, Washington",1971-11-11,0.0,1.0,0.0,NaN,NaN,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0
305,397.0,Rose-Mar College of Beauty,"Mesa, Arizona",1966-11-12,0.0,0.0,0.0,NaN,18,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
306,398.0,University of Texas at Austin,"Austin, Texas",1966-08-01,0.0,0.0,0.0,NaN,25,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
307,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
ms.columns

Index(['S#', 'Title', 'Location', 'Date', 'civilian intervention',
       'police intervention', 'suicide', 'age', 'age.1', 'SCHOOL', 'GANG',
       'CRIME', 'ALTERCATION', 'POLITICAL', 'FAMILY', 'RANDOM', 'WORK',
       'motive', 'Summary', 'Fatalities', 'Injured', 'Total victims', 'WELL',
       'ILL', 'Mental Health Issues', 'latino', 'native am', 'asian', 'black',
       'white', 'Race', 'female', 'male', 'Gender', 'Latitude', 'Longitude',
       'Na', 'NaN', 'NAA', 'NAAA', 'STATE', '0G', '1G', '2G', '3G', '4G', '5G',
       '7G', '8G', '9G', '10G', 'GUNCONTROL', 'STRICT', 'NOT STRICT'],
      dtype='object')

## Cambio de nombre de columnas

In [6]:
ms.rename(columns = {'S#':'Caso_No.'}, inplace= True)
ms.rename(columns = {'Title':'Titulo'}, inplace= True)
ms.rename(columns = {'Location':'Lugar'}, inplace= True)
ms.rename(columns = {'Date':'Dia'}, inplace= True)
ms.rename(columns = {'civilian intervention':'Intervencion_civil'}, inplace= True)
ms.rename(columns = {'police intervention':'Intervencion_policial'}, inplace= True)
ms.rename(columns = {'suicide':'Suicidio'}, inplace= True)
ms.rename(columns = {'age.1':'Edad'}, inplace= True)
ms.rename(columns = {'motive':'Motivo'}, inplace= True)
ms.rename(columns = {'Summary':'Resumen'}, inplace= True)
ms.rename(columns = {'Fatalities':'Muertes'}, inplace= True)
ms.rename(columns = {'Injured':'Heridos'}, inplace= True)
ms.rename(columns = {'Total victims':'Victimas_Totales'}, inplace= True)
ms.rename(columns = {'Mental Health Issues':'Problemas_de_Salud_Mental'}, inplace= True)
ms.rename(columns = {'Race':'Raza'}, inplace= True)
ms.rename(columns = {'Gender':'Genero'}, inplace= True)
ms.rename(columns = {'Latitude':'Latitud'}, inplace= True)
ms.rename(columns = {'Longitude':'Longitud'}, inplace= True)
ms.rename(columns = {'STATE':'Estado'}, inplace= True)
ms.rename(columns = {'GUNCONTROL':'Control_de_armas'}, inplace= True)
ms.rename(columns = {'STRICT':'Estrictos'}, inplace= True)
ms.rename(columns = {'NOT STRICT':'No_Estrictos'}, inplace= True)

In [114]:
ms.head()

,Caso_No.,Titulo,Lugar,Dia,Intervencion_civil,Intervencion_policial,Suicidio,Edad,Motivo,Resumen,...,Victimas_Totales,Problemas_de_Salud_Mental,Raza,Genero,Latitud,Longitud,Estado,Control_de_armas,Estrictos,No Estrictos
0,1.0,Las Vegas Strip mass shooting,"Las Vegas, NV",2017-10-01,0.0,0.0,1.0,64,R,NaN,...,573.0,Unclear,white,m,NaN,NaN,NV,0.0,0.0,1.0
1,2.0,San Francisco UPS shooting,"San Francisco, CA",2017-06-14,0.0,1.0,1.0,38,W,"Jimmy Lam, 38, fatally shot three coworkers an...",...,5.0,Yes,Asian,M,NaN,NaN,CA,8.0,1.0,0.0
2,3.0,Pennsylvania supermarket shooting,"Tunkhannock, PA",2017-06-07,0.0,0.0,1.0,24,W,"Randy Stair, a 24-year-old worker at Weis groc...",...,3.0,Unclear,White,M,NaN,NaN,PA,5.0,1.0,0.0
3,4.0,Florida awning manufacturer shooting,"Orlando, Florida",2017-06-05,NaN,NaN,1.0,45,W,"John Robert Neumann, Jr., 45, a former employe...",...,5.0,Unclear,NaN,M,NaN,NaN,FL,2.0,0.0,1.0
4,5.0,Rural Ohio nursing home shooting,"Kirkersville, Ohio",2017-05-12,NaN,NaN,0.0,43,F,"Thomas Hartless, 43, shot and killed a former ...",...,3.0,Yes,White,M,NaN,NaN,OH,1.0,0.0,1.0

## Eliminación de columnas innecesarias

In [7]:
ms.drop(['age','SCHOOL', 'GANG', 'CRIME', 'ALTERCATION','POLITICAL','FAMILY', 'RANDOM','WORK', 'WELL', 'ILL', 'latino', 'native am', 'asian', 'black', 'white', 'Na', 'NaN', 'NAA', 'NAAA', 'male','female','0G', '1G', '2G', '3G', '4G', '5G', '7G', '8G', '9G', '10G'], axis=1, inplace=True)

In [115]:
ms.head()

,Caso_No.,Titulo,Lugar,Dia,Intervencion_civil,Intervencion_policial,Suicidio,Edad,Motivo,Resumen,...,Victimas_Totales,Problemas_de_Salud_Mental,Raza,Genero,Latitud,Longitud,Estado,Control_de_armas,Estrictos,No Estrictos
0,1.0,Las Vegas Strip mass shooting,"Las Vegas, NV",2017-10-01,0.0,0.0,1.0,64,R,NaN,...,573.0,Unclear,white,m,NaN,NaN,NV,0.0,0.0,1.0
1,2.0,San Francisco UPS shooting,"San Francisco, CA",2017-06-14,0.0,1.0,1.0,38,W,"Jimmy Lam, 38, fatally shot three coworkers an...",...,5.0,Yes,Asian,M,NaN,NaN,CA,8.0,1.0,0.0
2,3.0,Pennsylvania supermarket shooting,"Tunkhannock, PA",2017-06-07,0.0,0.0,1.0,24,W,"Randy Stair, a 24-year-old worker at Weis groc...",...,3.0,Unclear,White,M,NaN,NaN,PA,5.0,1.0,0.0
3,4.0,Florida awning manufacturer shooting,"Orlando, Florida",2017-06-05,NaN,NaN,1.0,45,W,"John Robert Neumann, Jr., 45, a former employe...",...,5.0,Unclear,NaN,M,NaN,NaN,FL,2.0,0.0,1.0
4,5.0,Rural Ohio nursing home shooting,"Kirkersville, Ohio",2017-05-12,NaN,NaN,0.0,43,F,"Thomas Hartless, 43, shot and killed a former ...",...,3.0,Yes,White,M,NaN,NaN,OH,1.0,0.0,1.0

## Tipos de datos en columnas

In [8]:
ms.dtypes

Caso_No.                            float64
Titulo                               object
Lugar                                object
Dia                          datetime64[ns]
Intervencion_civil                  float64
Intervencion_policial               float64
Suicidio                            float64
Edad                                 object
Motivo                               object
Resumen                              object
Muertes                             float64
Heridos                             float64
Victimas_Totales                    float64
Problemas_de_Salud_Mental            object
Raza                                 object
Genero                               object
Latitud                             float64
Longitud                            float64
Estado                               object
Control_de_armas                    float64
Estrictos                           float64
No_Estrictos                        float64
dtype: object

## Agrupaciones

In [109]:
Y = ms[ms['Problemas_de_Salud_Mental']=='Yes']
Y.to_csv('SI_TIENEN.csv', index=False)

In [110]:
UK = ms[ms['Problemas_de_Salud_Mental']=='Unknown']
UK.to_csv('Unknown.csv', index=False)

In [111]:
N = ms[ms['Problemas_de_Salud_Mental']=='No']
N.to_csv('NO_TIENEN.csv', index=False)

In [113]:
UC = ms[ms['Problemas_de_Salud_Mental']=='Unclear']
UC.to_csv('Unclear.csv', index=False)

## Preguntas de interés

- ¿Para que me pueden servir estas agrupaciones para la práctica siguiente?

    Para facilitar el manejo de ese grupo de datos en específico.

- Importancia del análisis previo de los datos antes de iniciar las modificaciones

    Saber a que variables darles mayor importancia y saber cuales son las que nos servirán para alcanzar el objetivo deseado.