## Ejercicio 1
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y matrícula concatenados

In [5]:
m=1820160
print("Valeria Nohemí Navarro Cabello", m)

Valeria Nohemí Navarro Cabello 1820160

## Ejercicio 2
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [9]:
n1= int(input("Introduce un número: "))
n2= int(input("Introduce otro número: "))

print ("Suma: ", n1+n2)
print("Resta: ", n1-n2)
print("Multiplicación: ", n1*n2)
print("División: ", n1/n2)
print("Exponente: ", n1**n2)

Introduce un número: 2
Introduce otro número: 3
Suma:  5
Resta:  -1
Multiplicación:  6
División:  0.6666666666666666
Exponente:  8

## Ejercicio 3
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [5]:
i=1
Suma= 0 
while i <= 10:
    n= i*3
    print (n)
    Suma= Suma +n
    i=i+1
print ("La suma es:", Suma)

3
6
9
12
15
18
21
24
27
30
La suma es: 165

## Ejercicio 4
-Con una función de if else, revisar si un número es par o es impar.
-Con una función de if else, revisar si un número es primo o no.

In [5]:
a = int(input("Introduce un número: "))

if  a%2==0 : 
    print ("El número", a, "es par")
else:
    print ("Elnúmero", a, "es impar")

Introduce un número: 6
El número 6 es par

In [10]:
b=int(input("Introduce un número: "))
p=0
for i in range(2,b):
    if b%i!=0:
        continue
    else:
        p=p+1
        break
if p>0:
    print("El número ", b, " no es primo")
else:
    print("El número ", b, " es primo")

Introduce un número: 5
El número  5  es primo

## Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [12]:
def Suma(a,b):
    c=a+b
    return c
def Resta(a,b):
    c=a-b
    return c
def Multiplicación(a,b):
    c=a*b
    return c
def División(a,b):
    c=a/b
    return c
def Exponente(a,b):
    c=a**b
    return c
x=int(input("Ingresa un número: "))
y=int(input("Ingresa un segundo número: "))
print("Suma: ", Suma(x,y))
print("Resta: ", Resta(x,y))
print("Multiplicación: ", Multiplicación(x,y))
print("División: ", División(x,y))
print("Exponente: ", Exponente(x,y))

Ingresa un número: 10
Ingresa un segundo número: 5
Suma:  15
Resta:  5
Multiplicación:  50
División:  2.0
Exponente:  100000

## Ejercicios con estructuras básicas de python

## Tuplas
Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [13]:
f = 7.4
print("La variable f =",f,"es de tipo:", type(f))
i = 9
print("La variable i =",i,"es de tipo:", type(i))
b = False  
print("La variable b =",b,"es de tipo:", type(b))
c= 1j
print("La variable c =",c,"es de tipo:", type(c))

La variable f = 7.4 es de tipo: <class 'float'>
La variable i = 9 es de tipo: <class 'int'>
La variable b = False es de tipo: <class 'bool'>
La variable c = 1j es de tipo: <class 'complex'>

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [29]:
t = (2,1,8,6,1)

print("Primer número de la tupla:",t[0])
print("Último número de la tupla:",t[4])

Primer número de la tupla: 2
Último número de la tupla: 1

Añadir 3 valores de string a la tupla.

In [30]:
t = t.__add__(("a","b","c",))
t

(2, 1, 8, 6, 1, 'a', 'b', 'c')

Verificar si una variable existe dentro de la tupla.

In [32]:
1 in t

True

## Listas
Crear una lista con 40 elementos aleatorios enteros.

In [39]:
import random as r 
aleat= range(0,100)
aleat=r.sample(aleat, 40)
print (aleat)

[35, 17, 95, 5, 59, 8, 14, 53, 79, 89, 63, 49, 6, 47, 70, 80, 7, 50, 37, 69, 25, 28, 57, 11, 85, 26, 74, 13, 92, 3, 68, 22, 72, 36, 43, 23, 0, 75, 97, 82]

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [41]:
lp=[]
limp=[]
def listapi(aleat,lp, limp):
    for i in range(0,40):
        n = aleat[i]
        if n%2==0:
            lp.append(n)
        else:
            limp.append(n)
    lpar=lp
    limpar=limp

listapi(aleat, lp, limp)
print("Lista de pares", lp)
print("Lista de impares", limp)

Lista de pares [8, 14, 6, 70, 80, 50, 28, 26, 74, 92, 68, 22, 72, 36, 0, 82]
Lista de impares [35, 17, 95, 5, 59, 53, 79, 89, 63, 49, 47, 7, 37, 69, 25, 57, 11, 85, 13, 3, 43, 23, 75, 97]

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [42]:
longp=len(lp)
longimp= len(limp)
print("La longitud de la lista de pares es: ", longp)
print("La longitud de la lista de impares es: ", longimp)

La longitud de la lista de pares es:  16
La longitud de la lista de impares es:  24

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [44]:
lp.sort(reverse=True)
print("Lista de pares ordenada de mayor a menor: ", lp)
limp.sort()
print("Lista de pares ordenada de menor a mayor: ", limp)

Lista de pares ordenada de mayor a menor:  [92, 82, 80, 74, 72, 70, 68, 50, 36, 28, 26, 22, 14, 8, 6, 0]
Lista de pares ordenada de menor a mayor:  [3, 5, 7, 11, 13, 17, 23, 25, 35, 37, 43, 47, 49, 53, 57, 59, 63, 69, 75, 79, 85, 89, 95, 97]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [52]:
aleat.reverse()
print("La lista de manera inversa es: ", aleat)

La lista de manera inversa es:  [92, 92, 92, 82, 97, 75, 0, 23, 43, 36, 72, 22, 68, 3, 92, 13, 74, 26, 85, 11, 57, 28, 25, 69, 37, 50, 7, 80, 70, 47, 6, 49, 63, 89, 79, 53, 14, 8, 59, 5, 95, 17, 35, 92, 92]

In [53]:
aleat.append(92)
print("La lista con un dato agregado es: ", aleat)

La lista con un dato agregado es:  [92, 92, 92, 82, 97, 75, 0, 23, 43, 36, 72, 22, 68, 3, 92, 13, 74, 26, 85, 11, 57, 28, 25, 69, 37, 50, 7, 80, 70, 47, 6, 49, 63, 89, 79, 53, 14, 8, 59, 5, 95, 17, 35, 92, 92, 92]

In [54]:
aleat.count(3)
print("El número 3 se repite ", aleat.count(3), "vez")

El número 3 se repite  1 vez

In [58]:
aleat.extend([9,36,10])
print("La lista extendida es: ", aleat)

La lista extendida es:  [92, 92, 92, 82, 97, 75, 0, 23, 43, 36, 72, 22, 68, 3, 92, 13, 74, 26, 85, 11, 57, 28, 25, 69, 37, 50, 7, 80, 70, 47, 6, 49, 63, 89, 79, 53, 14, 8, 59, 5, 95, 17, 35, 92, 92, 92, 9, 36, 10]

## Diccionarios
Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [61]:
dicc={'Valeria': 20, 'Rafael': 58, 'Sandra': 29, 'Emanuel': 21, 'Victoria': 15, "Erika": 25}
dicc

{'Valeria': 20,
 'Rafael': 58,
 'Sandra': 29,
 'Emanuel': 21,
 'Victoria': 15,
 'Erika': 25}

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [62]:
sorted(dicc.values())

[15, 20, 21, 25, 29, 58]

Usando el diccionario y un loop, imprimir solo los nombres.

In [64]:
for i in dicc:
    print(i)

Valeria
Rafael
Sandra
Emanuel
Victoria
Erika

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [65]:
dicc["Francisco"]=33
dicc["Yolanda"]=54
print(dicc)

{'Valeria': 20, 'Rafael': 58, 'Sandra': 29, 'Emanuel': 21, 'Victoria': 15, 'Erika': 25, 'Francisco': 33, 'Yolanda': 54}

## Sets
Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [68]:
import random
s={random.randint(1,25)}
for i in range(0,99):
    s.add(random.randint(1,25))

print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

Comprueba la longitud de tu set.

In [69]:
len(s)

25

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [76]:
A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
al=(r.sample(A, 5))
print(al)
for i in range (5):
    print("El número", al[i],"se encuentra en la serie")
    print(al[i] in s)

[10, 8, 4, 9, 3]
El número 10 se encuentra en la serie
True
El número 8 se encuentra en la serie
True
El número 4 se encuentra en la serie
True
El número 9 se encuentra en la serie
True
El número 3 se encuentra en la serie
True